backcall==0.2.0
importlib-metadata==8.0.0
ipykernel==6.29.4
jaraco.collections==5.1.0
langchain==1.2.0
openai==2.13.0
pickleshare==0.7.5
pip-chill==1.0.3
plotly==6.5.0
scikit-learn==1.7.2
seaborn==0.13.2
tomli==2.0.1
